<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/layouts.css">
    <title>Document</title>
</head>
<body>
<header>
    <div class="header wrap">
        <div class="header__logo">
            <h1>Administrator</h1>
        </div>
        <div class="header__features">
            <a href="/admin/member" class="header__features__item">
                <img src="/img/icons/user.png" alt="" class="icon">
                <p class="header__features__name">Member</p>
            </a>
            <a href="/admin/inventory" class="header__features__item  active-page">
                <img src="/img/icons/storage.png" alt="" class="icon">
                <p class="header__features__name">Inventory</p>
            </a>
            <a href="/admin/settings" class="header__features__item">
                <img src="/img/icons/settings.png" alt="" class="icon">
                <p class="header__features__name">Settings</p>
            </a>
        </div>
        <div class="header__menu">
            <img src="/img/icons/menu_2.png" alt="" style="width: 20px; height: 20px;">
        </div>
    </div>
</header>
<section>
    <div class="wrap-body">
        <div class="wrap-body__left ">
            <div class="listOfacc wrap2">
                <div class="listOfacc__title layout wrap3">
                    <p class="layout__item_h">STT</p>
                    <p class="layout__item_h">Tên</p>
                    <p class="layout__item_h">Môn học</p>
                    <p class="layout__item_h">Lớp</p>
                    <p class="layout__item_h">Tiêu đề</p>
                    <p class="layout__item_h">Actions</p>
                </div>
                <div class="listOfacc__content">
                    <%if(listedData){%>
                        <% let count = 0; %>
                        <% listedData.forEach((item)=>{%>
                        <% count++;  %>
                            <div class="layout wrap3">
                                <p class="layout__item"><%= count %></p>
                                <p class="layout__item"><%= item[1].filename%></p>
                                <p class="layout__item"><%= item[1].subject%></p>
                                <p class="layout__item"><%= item[1].grade %></p>
                                <p class="layout__item"><%= item[1].title %></p>
                                <form class="layout__item" method="POST" >
<!--                                    <input type="submit" value="Sửa" class="layout__item__btn layout__item__btn&#45;&#45;blue">-->
                                    <input type="hidden" name="uidToDel" value="<%= item[0] %>">
                                    <input type="hidden" name="gradeToDel" value="<%= item[1].grade %>">
                                    <input type="hidden" name="subjectToDel" value="<%= item[1].subject %>">
                                    <input type="submit" value="Xóa" class="layout__item__btn layout__item__btn--red">
                                </form>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="wrap-body__right wrap2">
            <div class="formOflist">
                <form method="GET" class="layout3" >
                    <label for="grade" class="wrap5">Listed by Grade</label>
                    <select class="layout4" name="grade" id="grade">
                        <option value="12">All</option>
                        <option value="1">1</option>
                        <option value="12">12</option>
                        <option value="other">Other</option>
                    </select>
                    <div class="wrap6">
                        <input class="formButton" type="submit" value="Filter">
                    </div>
                </form>
            </div>
            <div class="formOfacc">
                <form action="POST" class="layout3">
                    <label class="wrap5">Search for Item</label>
                    <input class="layout4" type="text" placeholder="firstperson@info.com">
                    <div class="wrap5 wrap6">
                        <input class="formButton" type="submit" value="Search">
                    </div>
                </form>
            </div>
            <div class="block-mini">
                <div class="mini-logo">
                    <img src="/img/logo.png" alt="" class="mini-logo__corner">
                    <p>Copyright 2020</p>
                </div>
            </div>

        </div>

    </div>
</section>
</body>
</html>